body, html {
    font-family: Verdana, Arial, Tahoma, Serif;
    height:100%;
    background-image:url("https://images.pexels.com/photos/3454270/pexels-photo-3454270.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Koppen */
h1,h2,h3,h4,h5,h6 {
    font-family: Verdana, Arial, Tahoma, Serif;
    line-height: 1;
}

/* Header */
#header {
    background-color: #CD5C5C;
}

#bcollie {
    background-color: #CD5C5C;
}